header {
  background-color: #e540cf;
  color: white;
  text-align: center;
}

input {
  width:240px;
}

.task {
  background-color: #dce6e8;
  border-radius: 10px;
}

.completed {
  background-color: #2dc9ed;
}
